.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  word-break: keep-all;
}

.Container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.iconImage {
  margin: 20px 0;
  height: 40vw;
  max-height: 80px;
}
